<div class="page__footer-follow">
  {% if site.author.github %}<a href="https://github.com/{{ site.author.github }}" title="GitHub"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>{% endif %}
  {% if site.twitter.username %}<a href="https://twitter.com/{{ site.twitter.username }}" title="Twitter"><i class="fab fa-fw fa-twitter" aria-hidden="true"></i></a>{% endif %}
  {% if site.author.linkedin %}<a href="https://linkedin.com/in/{{ site.author.linkedin }}" title="LinkedIn"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i></a>{% endif %}
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
</div>
