---
layout: archive

header:
image: /assets/images/header.jpg

---

<div class="page-content">
  <h4 style="font-size: 0.685em;"><strong>About Me</strong></h4>
  <p style="font-size: 0.65em;">
    Hi, I am SaiKiran Uppu, a Security Grad Student at Johns Hopkins University, Maryland.
  </p>
  <p style="font-size: 0.65em;">
    I am interested in designing large scalable secure systems. My main foucus areas include Cloud Security, Application
    Security,
    and Threat Intelligence.
    I contribute to open-source and participate in Capture the Flag and Hackthebox challenges with the handle
    <code>backdoorcipher</code>.
  </p>

  <h4 style="font-size: 0.685em;"><strong>Timeline</strong></h4>
  <ul>
    <li style="font-size: 0.65em;">
      <a href="https://isi.jhu.edu/">
        <img src="/assets/images/hopkins.png" alt="Hopkins" width="64" height="64">
      </a>
      <strong>Aug 2019</strong> Information Security at Johns Hopkins in Baltimore, Maryland.
    </li>

    <li style="font-size: 0.65em;">
      <a href="https://www.netskope.com/netskope-threat-labs">
        <img src="/assets/images/netskope.png" alt="Netskope" width="64" height="64"></a>
      <strong>Jan 2017</strong> Software Engineer in Threat Research Labs at Netskope in Bengaluru.
    </li>

    <li style="font-size: 0.65em;">
      <a href="https://vit.ac.in/"></a><img src="/assets/images/vit.jpeg" alt="VIT" width="64" height="64"></a>
      <strong>Jun 2013</strong> Studied B.Tech in Computer Science at VIT in Vellore, India.
    </li>
  </ul>
</div>