---
layout: archive

header:
  image: /assets/images/header.jpg

---
<!-- 
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
 -->

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    <meta itemprop="headline" content="About">
    <meta itemprop="description" content="SaiKiran Uppu">
    
    

    <div class="page__inner-wrap">
      
        <header>
          <h1 id="page-title" class="page__title" itemprop="headline">About
</h1>
          
        </header>
      

      <section class="page__content" itemprop="text">
        
<!--           <aside class="sidebar__right">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-file-alt"></i> On This Page</h4></header>
              <ul class="toc__menu">
  <li><a href="#education">Education</a></li>
  <li><a href="#experience">Experience</a></li>
  <li><a href="#projects">Projects</a></li>
</ul>
            </nav>
          </aside> -->
        
        <p>SaiKiran Uppu is current Graduate Student at Johns Hopkins in Information Security. 2.5+ years of experience specializing in the Cloud, Network Security, Development, infrastructure protection, and Computer hacking. His main motive in learning security is to build large scale secure systems. Efficient problem solver, passionate and Goal Oriented self-starter.</p>

<h2 id="education">Education</h2>

<table>
  <thead>
    <tr>
      <th>University</th>
      <th>Degree</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Johns Hopkins Information Security Institute</td>
      <td>Masters in Information Security</td>
      <td>Aug ‘19 to Dec ‘20 (Exp)</td>
    </tr>
    <tr>
      <td>Vellore Institute of Technology</td>
      <td>BTech Computer Science</td>
      <td>Jun ‘13 to May ‘17</td>
    </tr>
  </tbody>
</table>

<h2 id="experience">Experience</h2>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Designation</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Johns Hopkins Information Security Institute</td>
      <td>Course Assistant - Cloud Security</td>
      <td>Aug ‘19 to Dec ‘19</td>
    </tr>
    <tr>
      <td>Netskope,Bangalore</td>
      <td>Software Engineer - 2</td>
      <td>Apr ‘18 to Jul ‘19</td>
    </tr>
    <tr>
      <td>Netskope,Bangalore</td>
      <td>Software Engineer - 1</td>
      <td>Jul ‘17 to Mar ‘18</td>
    </tr>
    <tr>
      <td>Netskope,Bangalore</td>
      <td>Software Intern</td>
      <td>Jan ‘17 to Jun ‘17</td>
    </tr>
    <tr>
      <td>Krify,Kakinada</td>
      <td>Summer Intern</td>
      <td>Jun ‘15 to Jul ‘15</td>
    </tr>
  </tbody>
</table>

<h2 id="projects">Projects</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="https://github.com/uppusaikiran/Malicious-URL-Detector">Malicious URL Detector</a></td>
      <td>A Machine Learning Model to detect malicious urls which include Deep File Analysis on attributes as well dropped files.</td>
    </tr>
    <tr>
      <td><a href="https://github.com/uppusaikiran/malware-organiser">Malware Organizer</a></td>
      <td>A simple tool to organise large malicious/benign files into a organised Structure.</td>
    </tr>
    <tr>
      <td><a href="https://github.com/uppusaikiran/ransom_c2c_detector">Ransomware C2C Detector</a></td>
      <td>Machine Learning Based Ransomware generated Command and Control Server Domain Detector.</td>
    </tr>
    <tr>
      <td><a href="https://github.com/uppusaikiran/generic-parser">Generic Parser</a></td>
      <td>A Single Library Parser to extract meta information, static analysis and detect macros within the files.</td>
    </tr>
    <tr>
      <td><a href="https://github.com/uppusaikiran/CTFWriteups">CTF Writeups</a></td>
      <td>Collection of all Capture the Flag Writeups and Tools.</td>
    </tr>
    <tr>
      <td><a href="https://github.com/uppusaikiran/yara-finder">Yara Finder</a></td>
      <td>Simple tool to find the yara matches on a file.</td>
    </tr>
  </tbody>
</table>


        
      </section>

      <footer class="page__meta">
        
        


        
      </footer>

      

      
    </div>

    
  </article>

  
  
</div>
    </div>
